body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
header {
    background-color: #304268;
    color: white;
    padding: 10px;
    border-bottom: rgb(27, 27, 71) 3px solid;
}
footer {
    background-color: #304268;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: rgb(27, 27, 71) 3px solid;
    width: 100%;
    bottom: 0;
}
.secciones {
  background-color: rgb(216, 218, 222);
  color: black;
  margin: 20px;
  padding: 20px;
}

.imagen {
    position: absolute;
    left: 400px;
    top: 160px;
}